<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>


    <mat-card matRipple [matRippleRadius]="250" matRippleColor="#3f45b524" [matRippleCentered]="true">



      <!--             <<<<-----------       (click)="si apre" -->
      <mat-card-title>{{myname}}</mat-card-title>
      <mat-card-subtitle>{{sname}}</mat-card-subtitle>
      <div class="card_1">
        <div class="img"><img mat-card-image
            src="https://cdn.pixabay.com/photo/2018/08/09/12/22/call-center-3594408__340.png">
        </div>

        <mat-card-content>

          <p>
            {{mymail}}

          </p>
          <p>{{myrole}}</p>

          <p *ngIf="myrole == 'CLIENTE'">Welcome, here you may check your invoice</p>
          <p *ngIf="myrole == 'ADMIN'">U gotta work mf .</p>

        </mat-card-content>
      </div>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple [matRippleRadius]="250" matRippleColor="#3f45b524" [matRippleCentered]="true"
      routerLink="/homepage/dipendenti">
      <!--             <<<<-----------       (click)="si apre" -->
      <mat-card-title>Employers</mat-card-title>
      <mat-card-subtitle>Add,remove or check</mat-card-subtitle>
      <div class="card_1">
        <div class="img"><img mat-card-image src="https://cdn.pixabay.com/photo/2018/08/11/20/19/jobs-3599406__340.png">
        </div>

        <mat-card-content>
          <mat-icon title=" Number of employers">people</mat-icon>
          <mat-spinner *ngIf="dipendenti.length == 0" [diameter]="20"></mat-spinner>
          <p *ngIf="dipendenti.length != 0">
            {{dipendenti.length}}
            <!-- numero dipendenti (array.lenght) -->
          </p>
          <p>informazione 2</p>
          <p>informazione 3</p>

        </mat-card-content>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple [matRippleRadius]="250" matRippleColor="#3f45b524" [matRippleCentered]="true"
      routerLink="/homepage/clienti">
      <!--  <<<<-----------       (click)="si apre" -->
      <mat-card-title>Customers</mat-card-title>
      <mat-card-subtitle>Add,remove or check</mat-card-subtitle>
      <div class="card_1">
        <div class="img"><img mat-card-image
            src="https://cdn.pixabay.com/photo/2018/03/21/06/47/people-3245760__340.png"></div>

        <mat-card-content>
          <mat-icon title="Number of customers">people</mat-icon>
          <mat-spinner [diameter]="20" *ngIf="clienti.length == 0"></mat-spinner>
          <p *ngIf="clienti.length != 0">
            {{clienti.length}}
          </p>
          <p>informazione 2</p>
          <p>informazione 3</p>

        </mat-card-content>
      </div>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card matRipple [matRippleRadius]="250" matRippleColor="#3f45b524" [matRippleCentered]="true"
      routerLink="/homepage/fatture">
      <!-- <<<<-----------       (click)="si apre" -->
      <mat-card-title>Invoice</mat-card-title>
      <mat-card-subtitle>Check them here</mat-card-subtitle>
      <div class="card_1">
        <div class="img"><img mat-card-image
            src="https://cdn.pixabay.com/photo/2020/04/04/03/42/paperwork-5000691__340.png">
        </div>

        <mat-card-content>
          <mat-icon title="Number of invoice">money</mat-icon>
          <mat-spinner [diameter]="20" *ngIf="fatture.length == 0 "></mat-spinner>
          <p *ngIf="fatture == []">0</p>
          <p *ngIf="fatture.length != 0">
            {{fatture.length}}
          </p>
          <p>informazione 2</p>
          <p>informazione 3</p>

        </mat-card-content>
      </div>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple [matRippleRadius]="250" matRippleColor="#3f45b524" [matRippleCentered]="true"
      routerLink="/homepage/Addfatture">
      <!--             <<<<-----------       (click)="si apre" -->
      <mat-card-title>
        <mat-icon>add</mat-icon>New invoice
      </mat-card-title>
      <mat-card-subtitle>Make new invoice</mat-card-subtitle>
      <div class="card_1">
        <div class="img"><img mat-card-image src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126884__480.png">
        </div>

        <mat-card-content>

          <p>
            ---

          </p>
          <p>informazione 2</p>
          <p>informazione 3</p>

        </mat-card-content>
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card matRipple [matRippleRadius]="250" matRippleColor="#3f45b524" [matRippleCentered]="true">
      <!--         <<<<-----------       (click)="si apre" -->
      <mat-card-title>
        Settings
      </mat-card-title>
      <mat-card-subtitle>Change everything</mat-card-subtitle>
      <div class="card_1">
        <div class="img"><img mat-card-image src="https://cdn.pixabay.com/photo/2015/12/04/22/20/gear-1077550__340.png">
        </div>

        <mat-card-content>

          <p>
            ---

          </p>
          <p>informazione 2</p>
          <p>informazione 3</p>

        </mat-card-content>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
