/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(https://media4.giphy.com/media/UYBDCJjwOd9Re/giphy.gif?cid=ecf05e47g26eiivvqmwb1kk1dh2wfm4chlblntygk6l76qwq&rid=giphy.gif&ct=g);
  background-size: auto;
;}
a{
  cursor: pointer;
}
